body{
    display: grid;
    grid-template-areas:
    'header header header'
    
    ' main main main   '
    ' footer footer footer ';

    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    grid-area: header;
    background-color: #6C2C67;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    font-size: .8em;
}

main {
    grid-area: main;  
    background-color: white;
    grid-column: 2 / span 1;
}
#complogo,#compww, #comppro, #compcenter, #complocaladd, #complogin {
    color: white
}





footer{
    grid-area: footer;  
    background-color: pink;
    grid-column: 1 / span 3;
}

/* body{
    display: flex;
} */

